/*TABLET only*/
@media (max-width: 990px) {

    /*header*/
    .menu-toggle-btn {
        visibility: hidden;
    }


    /*gallery*/
    .gallery-container {
        max-width: 760px;
        justify-content: center;
        font-family: Impact;
        grid-template-columns: repeat(3, 250px);
        grid-gap: 30px;
    }

    .gallery-image {
        max-width: 80%;
        border-radius: 10px;
        position: relative;
        transition: transform 200ms;
        cursor: pointer;
    }

    /* editor */
    .controls {
        margin-top: 30px;
        height: 300px;
    }

    .control-btns .controller {
      
        font-size: 1.5rem;
    }
    .controller.line-input {
        width: 80%;
        height: fit-content;
        font-size: 1rem;
    
    }
}

/*MOBILE Only*/

@media (max-width: 760px) {

    /* header */
    .header-container {
        display: flex;
        justify-content: center;
    }

    /*logo */
    .main-logo img {
        align-self: center;
    }

    .header-container .main-header .menu-toggle-btn {
        position: fixed;
        visibility: visible;
        color: var(--clr3);
        font-size: 1.5rem;
        right: 1.25rem;
        background-color: transparent;
        border: none;
    }
/*nav*/
    .main-header .main-nav {
        position: fixed;
        flex-direction: column;
        top: 2rem;
        right: 0;
        background-color: var(--clr1);
        transform: translateX(100%);
        transition: 0.6s;
        overflow: hidden;
        transform-origin: top;
        z-index: 1;
        padding-left: 0;
    }

    body.menu-open .main-header .main-nav {
        transform: translateX(0%);

    }

    body.menu-open .header-container .main-header .menu-toggle-btn {
        visibility: hidden;
    }

    body.menu-open .header-container .main-header .menu-toggle-btn:after {
        content: 'X';
        visibility: visible;
        top: 0.5rem;
        font-size: 1.5rem;
        right: 1rem;
        appearance: auto;
        color: #fff;
        background-color: transparent;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        box-sizing: border-box;
        margin: 0em;
        padding: 1px 6px;
    }
/*gallery*/

    .gallery-container {
        display: flex;
        flex-direction: column;
        width: 760px;
        align-items: center;
        justify-content: center;
        font-family: Impact;
        grid-template-columns: repeat(3, 250px);
        grid-gap: 10px;
    }

    .gallery-image {
        max-width: 75%;
        border-radius: 10px;
        position: relative;
        transition: transform 200ms;
        cursor: pointer;
    }
}