.saved {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.saved-container {
    justify-content: center;
    font-family: Impact;
    grid-template-columns: repeat(3, 250px);
    grid-gap: 10px;
}

.clear-btn {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.saved-image {
    max-width: 100%;
    border-radius: 10px;
    position: relative;
    transition: transform 200ms;
    cursor: pointer;
}

/* .emptyDb-msg */

.emptyDb-msg h2{
    font-family: montserrat;
    font-size: 2rem;
    color:black;
}